<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="shortcut icon"
      type="image/png"
      href="../static/images/favicon.png"
    />

    <title>Descargar | Sanble</title>

    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/fonts/Quicksand/Quicksand.css" />
  </head>
  <body>
    <section class="hero">
      <img
        class="logo"
        src="../static/images/logo_horizontal_light.png"
        alt="Sanble"
      />

      <h2 class="phrase">Unidos al crearlo, para unirlos al usarlo</h2>

      <div class="btn-container">
        <a
          id="btn-download"
          href="<%= urlFile %>"
          target="_blank"
          class="btn-download"
        >
          Descargar Android
        </a>
      </div>

      <img
        class="preview"
        src="../static/images/preview.png"
        alt="Preview Sanble"
      />
    </section>
  </body>
</html>
