body {
  margin: 0;
  font-family: Quicksand, "Courier New", Courier, monospace;
}

.hero {
  background-image: url(../images/hero-waves.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  padding-top: 50px;
  text-align: center;
}

.logo {
  height: 80px;
}

.phrase {
  padding: 0 25%;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  line-height: 1.3em;
  margin-top: 20px;
}

.btn-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.btn-a {
  display: block;
  width: 220px;
  height: 20px;
  background: #232020;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  border: 3px solid #232020;
  font-weight: 800;
  text-decoration: none;
  margin: 5px 10px;
  transform: translateY(0);
  transition: transform 100ms ease-in;
}

.btn-a:hover {
  background: #ffcc80;
  color: #232020;
  -webkit-box-shadow: 5px 5px 10px -5px rgba(0, 0, 0, 0.51);
  box-shadow: 5px 5px 10px -5px rgba(0, 0, 0, 0.51);
  transform: translateY(-2px);
  border-color: #ffcc80;
  transition: all 200ms ease-in;
}

.btn-a-ghost {
  background: transparent;
  color: #232020;
}

.preview {
  width: 600px;
  margin: 20px;
}

:global(.landing-button) {
  margin: 0 5px !important;
  width: 180px;
}

:global(.landing-button):hover,
:global(.landing-button):active,
:global(.landing-button):focus {
  background-color: var(--sanble-gray) !important;
  color: #fff !important;
  border: 1px solid #fff !important;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

:global(.landing-button):active,
:global(.landing-button):focus {
  border: 1px solid var(--sanble-orange-ligth) !important;
}

@media (max-width: 700px) {
  .preview {
    width: 80%;
  }
}

@media (max-width: 500px) {
  :global(.landing-button) {
    color: var(--sanble-gray) !important;
    border: 1px solid var(--sanble-gray) !important;
  }
}
